{% extends "base.html" %}

{% block css %}
    <link href="/static/css/competitions.css" rel="stylesheet">
{% endblock %}
{% block meta_title %}Список конкурсов{% endblock %}

{% block main %}

    <div class="panel panel-default">
        <div class="panel-heading">
        <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class=""><h1>Наши конкурсы</h1></div>
        </div>
        <div class="col-lg-6 col-md-6">
            {% if user.is_authenticated %}
                <div class="pull-right">
                    <a href='{% url "competition_add" %}' type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus" ></span>&nbsp;Добавить конкурс
                    </a>
                </div>
            {% endif %}
        </div>
        </div>
        </div>
        <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <th>Название</th>
                <th>Тип конкурса</th>
                <th>Просмотров</th>
                <th>Заявок</th>
                <th>Голосов</th>
                <th>Автор</th>
            </thead>
            {% for competition in competitions  %}
                <tr class="pointer" onclick="document.location='/participate/?competition_id={{ competition.id }}';">
                    <td>
                        <p class="text-info"><strong>{{ competition.title }}</strong></p>
                    </td>
                    <td>{{ competition.type_str }}</td>
                    <td> <span class="badge"> {{ competition.hit_count.hits }} </span></td>
                    <td> <span class="badge"> {{ competition.count_participate }} </span></td>
                    <td> <span class="badge"> {{ competition.count_vote }} </span></td>
                    <td>{{ competition.creator }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>

    {% block Page_menu %}
        <ul class="pagination">
            {% if competitions.has_previous %}
                <li><a href="?page={{ competitions.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% for num in competitions.paginator.page_range %}
                {% if num == competitions.number %}
                    <li class="active"><a>{{ num }}</a></li>
                {% else %}
                    <li><a href="?page={{ num }}"> {{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if competitions.has_next %}
                <li><a href="?page={{ competitions.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endblock %}

{% endblock %}
