{% extends "base.html" %}


{% block main %}
    {% if user.is_authenticated %}
        <div class="breadcrumb pull-right">
    <a href='{% url "competition_add" %}'>Добавить</a>
        </div>
    {% endif %}
    <table class="table_vote">
    <caption>Конкурсы</caption>
    <tr>
        <th>Название</th>queryset filter example
        <th>Заявок</th>
        <th>Голосов</th>
    </tr>
    {% for competition in competitions  %}
        {% if competition.status == 2 %}
        <tr>
            <td>
                <div>
                    <a href='{% url "participates_in_competition" %}?competition={{ competition.title }}'
                    >{{ competition.title }}</a>
                </div>
                <div class="text">
                    <h6>{{ competition.type_str }}</h6>
                </div>
            </td>
            <td>
                {{ Vote.objects.participate.competition_id }}
            </td>
            <td>

            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endblock %}
