{% extends "base.html" %}

{% block main %}
    <div class="panel">
    <form method="post" class="post-form">{% csrf_token %}
        <div class="container">
            {{ form.non_field_errors }}
        <table class="table">
            {% for field in form %}
                <tr>
                    <td>
                        <div class="fieldWrapper">
                            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        </div>
                    </td>
                    <td>
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    </td>
                </tr>
            {% endfor %}


{#        <tr>#}
{#            <td>#}
{#                <div class="fieldWrapper">#}
{#                    <label for="{{ form.title.id_for_label }}">Заголовок:</label>#}
{#                </div>#}
{#            </td>#}
{#            <td>#}
{#                <div class="fieldWrapper">#}
{#                    {{ form.title.errors }}#}
{#                {{ form.title }}#}
{#                </div>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                <div class="fieldWrapper">#}
{#                    <label for="{{ form.comp_type.id_for_label }}">Тип конкурса:</label>#}
{#                </div>#}
{#            </td>#}
{#            <td>#}
{#                <div class="fieldWrapper">#}
{#                    {{ form.comp_type.errors }}#}
{#                    {{ form.comp_type }}#}
{#                </div>#}
{#                </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#            <div class="fieldWrapper">#}
{#                <label for="{{ form.rules.id_for_label }}">Правила:</label>#}
{#            </div>#}
{#            </td>#}
{#                <td>#}
{#            <div class="fieldWrapper">#}
{#                {{ form.rules.errors }}#}
{#                {{ form.rules }}#}
{#            </div>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#            <div class="fieldWrapper">#}
{#                <label for="{{ form.short_description.id_for_label }}">Краткое описание:</label>#}
{#            </div>#}
{#            </td>#}
{#            <td>#}
{#            <div class="fieldWrapper">#}
{#                {{ form.short_description.errors }}#}
{#                {{ form.short_description }}#}
{#            </div>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#            <div class="fieldWrapper">#}
{#                <label for="{{ form.expiry_date.id_for_label }}">Завершение конкурса:</label>#}
{#            </div>#}
{#            </td>#}
{#            <td>#}
{#                <div class="fieldWrapper">#}
{#                {{ form.expiry_date.errors }}#}
{#                {{ form.expiry_date }}#}
{#            </div>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#            <div class="fieldWrapper">#}
{#                <label for="{{ form.survey_date.id_for_label }}">Опрос c:</label>#}
{#            </div>#}
{#            </td>#}
{#            <td>#}
{#                <div class="fieldWrapper">#}
{#                {{ form.survey_date.errors }}#}
{#                {{ form.survey_date }}#}
{#            </div>#}
{#            </td>#}
{#        </tr>#}
        </table>
            <button type="submit" class="btn btn-default btn-sm">Сохранить</button>
                <div class="pull-right">
                {% block delete_button %}
                {% endblock %}
                </div>
        </div>
    </form>
    </div>
{% endblock %}
