{% extends "base.html" %}

{% block title %}Участники{% endblock %}

{% block main %}
    {% if user.is_authenticated %}
        <div>
        {% if add_member %}
            <a href='{% url "participate_add" %}?competition_id={{ competition.id }}'>Подать заявку</a>
        {% else %}
            <h4 >Прием заявок закончен</h4>
        {% endif %}
        </div>
    {% endif %}
    <table class="table_vote">
    <caption>{{ competition.title }}</caption>
    <tr><th>Название</th><th>Количество голосов</th><th></th></tr>
    {% for participate in participates %}
        {% if participate.status == 2 %}
        <tr>
            <td>
                    <a href='{% url 'about_participate' %}?participate_id={{ participate.id }}'>{{ participate.title }}</a>
            </td>
            <td>
                    {{ participate.participate_votes.count }}
            </td>
            <td>
                {% if vote_open and user.is_authenticated %}
                  <!--  <input  onclick="location.href='% url 'participates_in_competition' %}?competition_id={ competition.id }}&vote={ participate.id }}'" type="submit" class="default" name="_vote" value="Проголосовать"/>
                  -->
                    <input type="submit" class="default" id="vote" participate_id="{{ participate.id }}" value="Проголосовать" />
                {% else %}
                    {% if not vote_open and not add_member %}
                        <a>Конкурс завершен</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>

    {% block Page_menu %}

    <div class="pagination">

    {% if participates.has_previous %}
        <a href="?page={{ participates.previous_page_number }}">←</a>
    {% endif %}

    {% for num in participates.paginator.page_range %}
        {% if num == participates.number %}
            <span class="current"><b>{{ num }}</b></span>
        {% else %}
            <a href="?page={{ num }}"> {{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if article_list.has_next %}
        <a href="?page={{ article_list.next_page_number }}">→</a>
    {% endif %}
    </div>
    {% endblock %}

<script type="text/javascript">
   $(function() {
      $("#vote").click(function() {
         $.get("/vote/"+ $(this).attr('participate_id') , function(data) {
             var button = document.createElement("button");
             button.classList.add("close");
             button.type = "button";
             button.textContent = "×";
             button.setAttribute("data-dismiss", "alert");
             button.setAttribute("aria-hidden", "true");
             var div2 = document.createElement("div");
             div2.classList.add("alert", "alert-dismissable", "alert-info");
             div2.setAttribute("data-alert", "alert");
             var div1 = document.createElement("div");
             div1.classList.add("messages");
             div2.textContent = data;
             var articles = document.getElementsByClassName('container');
             div2.appendChild(button);
             div1.appendChild(div2);
             articles[1].appendChild(div1);
         });
      });
    });
</script>

{% endblock %}
