{% extends "base.html" %}

{% block title %}Участники{% endblock %}

{% block main %}
    {% if user.is_authenticated %}
        <div>
        {% if add_member %}
            <a href='{% url "participate_add" %}?competition_id={{ competition.id }}'>Подать заявку</a>
        {% else %}
            <h4 >Прием заявок закончен</h4>
        {% endif %}
        </div>
    {% endif %}
    <table class="table_vote">
    <caption>{{ competition.title }}</caption>
    <tr><th>Название</th><th>Количество голосов</th><th></th></tr>
    {% for participate in participates %}
        {% if participate.status == 2 %}
        <tr >
            <td onclick="table_click('{{ participate.id }}')">
                    <a href='{% url 'about_participate' participate.id %}'>{{ participate.title }}</a>
            </td>
            <td onclick="table_click('{{ participate.id }}')">
                    {{ participate.participate_votes.count }}
            </td>
            <td>
                {% if vote_open and user.is_authenticated %}
                    <input type="submit" onclick="vote({{ participate.id }})" class="btn-default" id="vote" value="Проголосовать" />
                {% else %}
                    {% if not vote_open and not add_member %}
                        <a>Конкурс завершен</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>

    {% block Page_menu %}

    <div class="pagination">

    {% if participates.has_previous %}
        <a href="?page={{ participates.previous_page_number }}">←</a>
    {% endif %}

    {% for num in participates.paginator.page_range %}
        {% if num == participates.number %}
            <span class="current"><b>{{ num }}</b></span>
        {% else %}
            <a href="?page={{ num }}"> {{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if article_list.has_next %}
        <a href="?page={{ article_list.next_page_number }}">→</a>
    {% endif %}
    </div>
    {% endblock %}

{% endblock %}
