{% extends "vote/participate_base.html" %}

{% block table_participates %}

<table class="table table-hover">
<caption>Участники конкурса"{{ competition.title }}"</caption>
<tr><th>Название</th><th>Количество голосов</th><th></th></tr>
{% for participate in participates %}
    <tr  onclick="table_click('{% url "participate_edit" %}?participate_id={{ participate.id }}')">
        <td>
            <p class="text-info"><strong>{{ participate.title }}</strong></p>
        </td>
        <td>
            {{ participate.participate_votes.count }}
        </td>
        <td>
        {% if vote_open and user.is_authenticated %}
            <input type="submit" onclick="vote({{ participate.id }})" class="btn-default" id="vote" value="Проголосовать" />
        {% else %}
            {% if not vote_open and not add_member %}
                <p>Конкурс завершен</p>
            {% endif %}
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}