{% extends "vote/participate_base.html" %}
{% load bootstrap3 %}
{% block meta_title %}О конкурсе{% endblock %}
{% block css %}
    <link href="/static/css/competitions.css" rel="stylesheet">
    <link href="/static/css/notifIt.css" rel="stylesheet">
    <link href="/static/css/winners.css" rel="stylesheet">
{% endblock %}
{% block js %}
    <script src="/static/js/notifIt.min.js"></script>

    {% if competition.comp_type == 4 %}
    <script>
        var audio = $("#sound")[0];
        $("#container").mouseenter(function () {
            audio.play();
        }).mouseleave(function () {
            audio.pause();
        });
    </script>
    {% endif %}

{% endblock %}

<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    {% block add_participate %}
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="text-right">
                {{ competition.type_str }}
                <h1>{{ competition.title }}</h1>
            </div>
            <div>
                <h3>Правила:</h3>
                <h4>{{ competition.rules|safe }}</h4>
            </div>
            <div>
                <h3>Описание:</h3>
                <h4>{{ competition.short_description|safe }}</h4>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 text-left">
            <ul>
                <li>Дата публикации: {{ competition.publish_date|date:"d.m.Y" }}</li>
                <li>Голосование с: {{ competition.survey_date|date:"d.m.Y" }}</li>
                <li>Результаты с: {{ competition.expiry_date|date:"d.m.Y" }}</li>
            </ul>
            <div class="row">
                <div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1">
                    {% if add_member %}
                        <p><a href="/participate_add/?competition_id={{ competition.id }}"
                          class="btn btn-success" role="button">
                        {% bootstrap_icon "hand-right" %} Участвовать!
                        </a></p>
                    {% elif vote_open %}
                        <p><button class="btn btn-default" disabled type="button">
                            <span class="glyphicon glyphicon-lock"></span>
                        </button>
                            <b>Прием заявок завершен. Голосуй! {% bootstrap_icon "thumbs-up" %}</b>
                        </p>
                    {% else  %}
                        <p><button class="btn btn-default" disabled type="button">
                            <span class="glyphicon glyphicon-lock"></span>
                        </button>
                            <b>Конкурс завершен! Наши победители:</b>
                        </p>
                        <div class="">
                            {% for winner in winners %}
                                <div class="box" onclick="document.location='/participate/{{ winner.id }}';">
                                    <div class="ribbon">
                                        <span class="{% cycle 'golden' 'silver' 'bronze' %}">{% cycle '1 место' '2 место' '3 место' %}</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8">
                                        <div>
                                            <span class="win-title">{{ winner.title }}</span>
                                            <p><span style="padding: 5px;">Автор: <b>{{ winner.creator }}</b></span></p>
                                        </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="row" style="height: 45px;"></div>
                                            <div class="row">
                                                <span class="badge pull-right">Голосов:&nbsp;{{ winner.participate_votes.count }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <hr>
        </div>
    </div>
    {% endblock %}

{% block table_participates %}
    <div class="row">
    {% for participate in participates  %}
        <div class="col-1 col-sm-6 col-lg-3 col-md-4 col-xs-12 panel panel-default"
             style="">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="input-group" style="">
                        {% if participate.title|length < 25 %}
                            <h2>{{ participate.title }}</h2>
                        {% else %}
                            <h2>{{ participate.title|slice:"21" }}...</h2>
                        {% endif %}
                        <div class="input-group-btn">
                            {% if vote_open and user.is_authenticated %}
                                <button class="btn btn-default" type="button"
                                        onclick="vote({{ participate.id }});">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </button>
                            {% else %}
                                <button class="btn btn-default" disabled
                                        type="button">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12" align="center">
                        {% if competition.comp_type == 1 %}
                            <div class="thumbnail">
                                <img src="{{ STATIC_URL }}media/{{ participate.content }}"/>
                            </div>
                        {% elif competition.comp_type == 3 %}
                            <div class="embed-responsive" style="min-height: 170px;">
                                <iframe width="100%" height="170px"
                                        src="{{ participate.content }}"
                                        allowfullscreen></iframe>
                            </div>
                        {% elif competition.comp_type == 4 %}
                            <div id="container">
                                <div id="disc"></div>
                            </div>
                            <audio id="sound"
                                   src="{{ STATIC_URL }}media/{{ participate.content }}"
                                   preload="metadata" controls></audio>
                        {% else %}
                            <div style="min-height: 170px">
                                <p>{{ participate.comment|slice:"250"|safe }}...</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <a>
                            <span class="badge pull-right">Голосов:&nbsp;{{ participate.participate_votes.count }}</span>
                        </a>
                        <p><a class="btn btn-default"
                              href='{% url 'about_participate' participate.id %}'
                              role="button">Подробнее &raquo;</a></p>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}
