{% extends "base.html" %}

{% block main %}

    {% block add_participate %}
    {% endblock %}

    {% block table_participates %}

{#    <table class="table_vote">#}
{#    <caption>Участники конкурса"{{ competition.title }}"</caption>#}
{#    <tr><th>Название</th><th>Количество голосов</th><th></th></tr>#}
{#    {% for participate in participates %}#}
{#        <tr >#}
{#            <td onclick="table_click('{{ participate.id }}')">#}
{#                    <a href='{% url 'about_participate' participate.id %}'>{{ participate.title }}</a>#}
{#            </td>#}
{#            <td onclick="table_click('{{ participate.id }}')">#}
{#                    {{ participate.participate_votes.count }}#}
{#            </td>#}
{#            <td>#}
{#            {% if vote_open and user.is_authenticated %}#}
{#                <input type="submit" onclick="vote({{ participate.id }})" class="btn-default" id="vote" value="Проголосовать" />#}
{#            {% else %}#}
{#                {% if not vote_open and not add_member %}#}
{#                    <a>Конкурс завершен</a>#}
{#                {% endif %}#}
{#            {% endif %}#}
{#            </td>#}
{#        </tr>#}
{#    {% endfor %}#}
{#    </table>#}
    {% endblock %}

    {% block Page_menu %}
        <ul class="pagination">
        {% if participates.has_previous %}
            <li><a href="?page={{ participates.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% for num in participates.paginator.page_range %}
            {% if num == participates.number %}
                <li class="active"><a>{{ num }}</a></li>
            {% else %}
                <li><a href="?page={{ num }}"> {{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if participates.has_next %}
            <li><a href="?page={{ participates.next_page_number }}">&raquo;</a></li>
        {% endif %}
        </ul>
    {% endblock %}

{% endblock %}
