{% extends "base.html" %}
{% load bootstrap3 %}
{% block extra_head %}{% endblock %}
{% block meta_title %}{% endblock %}
{% block css %}
    <link href="/static/css/competitions.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker3.min.css"/>
{% endblock %}
{% block js %}
    <script src="/static/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.ru.min.js"></script>
    <script>
    $(document).ready(function(){
        $('#id_expiry_date').datepicker({
            format: 'dd.mm.yyyy',
            startDate: '-3d',
            language: 'ru'
        });
        $('#id_survey_date').datepicker({
            format: 'dd.mm.yyyy',
            startDate: '-3d',
            language: 'ru'
        });
    });
    </script>
{% endblock %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class=""><h1>{% block h1 %}{% endblock %}</h1></div>
                </div>
                <div class="col-lg-6 col-md-6"></div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                            {% bootstrap_form form layout="horizontal"%}
                            {% bootstrap_button "Сохранить" button_type="submit" button_class="btn btn-success" %}
                            <div class="pull-right">
                                {% block delete_button %}
                                {% endblock %}
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
