{% extends "base.html" %}

{% block extra_head %}
{% endblock %}

{% block main %}
    <div class="panel">
    {% block title %}{% endblock %}
    <form method="post" enctype="multipart/form-data" class="post-form">{% csrf_token %}
        <div class="container">
            {{ form.non_field_errors }}

{#            {% bootstrap_form form %}#}
            <table class="table">
                {% for field in form %}
                    <tr>
                        <td>
                            <div class="fieldWrapper">
                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                            </div>
                        </td>
                        <td>
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-default btn-sm">Сохранить</button>
            <div class="pull-right">
                {% block delete_button %}
                {% endblock %}
            </div>
        </div>
    </form>
    </div>

{% endblock %}
