{% extends "base.html" %}
{% load bootstrap3 %}
{% block extra_head %}{% endblock %}
{% block meta_title %}{% endblock %}
{% block css %}
    <link href="/static/css/competitions.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class=""><h1>{% block h1 %}{% endblock %}</h1></div>
                </div>
                <div class="col-lg-6 col-md-6"></div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <form method="post" enctype="multipart/form-data" class="post-form">
                        {% csrf_token %}
                            {{ form.non_field_errors }}
                            <table class="table">
                                {% for field in form %}
                                    <tr>
                                        <td>
                                            <div class="fieldWrapper">
                                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="fieldWrapper" >
                                                {{ field }}
{#                                                <p class="text-danger">{{ field.errors }}</p>#}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger" style="margin-top: 10px">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            {% bootstrap_button "Сохранить" button_type="submit" button_class="btn btn-success" %}
                            <div class="pull-right">
                                {% block delete_button %}
                                {% endblock %}
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
