body {
    padding-top: 56px;
    padding-bottom: 56px;
}

h1 {
    margin: 0.1em 0;
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.0em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-size: 25px;
}

.pointer {
    cursor: pointer;
}

.thumbnail {
  position: relative;
  width: 260px;
  height: 260px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

#sound {
  display: none;
}

#vinyl-container {
  height: 180px;
  width: 180px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 24px;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
  transition: .5s linear;
  margin-bottom: 12px;
  opacity: 0.8;
}

#vinyl-container:before {
  content: "\f001";
  font-family: FontAwesome;
  font-size: 70px;
  background: -webkit-linear-gradient(50deg, #FD9F85 50%, #E837C2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FF7E24;
  position: absolute;
  line-height: 180px;
  left: 60px;
}

#vinyl-container:hover #vinyl {
  margin-left: 110px;
  transform: rotate(360deg);
}

#vinyl {
  position: absolute;
  height: 140px;
  width: 140px;
  z-index: -1;
  border-radius: 50%;
  background: transparent;
  margin: 20px;
  transition: .9s linear;
  box-shadow: 0 8px 6px -8px rgba(0, 0, 0, 0.5),
  0 0 1px 1px rgba(0, 0, 0, 0.5),
  0 0 0 1px #666 inset,
  0 0 0 2px #222 inset,
  0 30px 0 -29px #444 inset,
  0 -30px 0 -29px #444 inset,
  0 0 0 3px #333 inset,
  0 0 0 4px #222 inset,
  0 0 0 5px #333 inset,
  0 33px 0 -27px #444 inset,
  0 -33px 0 -27px #444 inset,
  0 0 0 6px #222 inset,
  0 0 0 7px #333 inset,
  0 0 0 8px #222 inset,
  0 34px 0 -25px #444 inset,
  0 -34px 0 -25px #444 inset,
  0 0 0 9px #333 inset,
  0 0 0 10px #222 inset,
  0 0 0 11px #333 inset,
  0 35px 0 -23px #444 inset,
  0 -35px 0 -23px #444 inset,
  0 0 0 12px #222 inset,
  0 0 0 13px #333 inset,
  0 0 0 14px #222 inset,
  0 36px 0 -21px #444 inset,
  0 -36px 0 -21px #444 inset,
  0 0 0 15px #333 inset,
  0 0 0 16px #222 inset,
  0 0 0 17px #333 inset,
  0 37px 0 -19px #444 inset,
  0 -37px 0 -19px #444 inset,
  0 0 0 18px #222 inset,
  0 0 0 19px #333 inset,
  0 0 0 20px #222 inset,
  0 38px 0 -17px #444 inset,
  0 -38px 0 -17px #444 inset,
  0 0 0 21px #333 inset,
  0 0 0 22px #222 inset,
  0 0 0 23px #333 inset,
  0 39px 0 -15px #444 inset,
  0 -39px 0 -15px #444 inset,
  0 0 0 24px #222 inset,
  0 0 0 25px #333 inset,
  0 0 0 26px #222 inset,
  0 40px 0 -13px #444 inset,
  0 -40px 0 -13px #444 inset,
  0 0 0 27px #333 inset,
  0 0 0 28px #222 inset,
  0 0 0 29px #333 inset,
  0 41px 0 -11px #444 inset,
  0 -41px 0 -11px #444 inset,
  0 0 0 30px #222 inset,
  0 0 0 43px #333 inset,
  0 0 0 45px #AF2A10 inset,
  0 0 0 47px #333 inset,
  0 0 0 62px #AF2A10 inset,
  0 0 10px 78px rgba(0, 0, 0, 0.5) inset;
}

#static-vinyl-container {
  height: 180px;
  width: 180px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 24px;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
  transition: .5s linear;
  margin-bottom: 12px;
  opacity: 0.8;
}

#static-vinyl-container:before {
  content: "\f001";
  font-family: FontAwesome;
  font-size: 70px;
  background: -webkit-linear-gradient(50deg, #FD9F85 50%, #E837C2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FF7E24;
  position: absolute;
  line-height: 180px;
  left: 60px;
}

.django-ckeditor-widget {
  width: 100%;
}

.preview-title {
  width: 215px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.preview-title:after {
  content: '';
  position: absolute;
  right: 0; top: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255, 0.2), #fff 100%);
}

.literature-preview {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 170px;
  margin-bottom: 5px;
}