.table_vote {
  border-collapse: collapse;
  border-left: 3px solid #3c3f41;
  border-right: 3px solid #3c3f41;
  border-bottom: 3px solid #3c3f41;
  font-family: "Lucida Grande", sans-serif;
  width: 100%;
  margin-top: 5px;
}
.table_vote caption {
  background: #3c3f41;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
  color: white;
  font-family: "Roboto Slab",serif;
  font-style: normal;
  font-size: 26px;
  text-align: center;
  margin: 0;
}
.table_vote td, .table_vote th {
  padding: 10px;
}
.table_vote td a{

    color: #b3b3b3;
}
.table_vote th {
  text-align: left;
  font-size: 18px;
}
.table_vote tr:nth-child(2n) {
  background: #E5E5E5;
}
.table_vote td:last-of-type {
  text-align: left;
}
.table_vote a {
  display: inline-block;
  padding: 5px 10px;
  background: #3c3f41;
  box-shadow: 2px 2px 0 0 #000000;
  position: relative;
}
.table_vote a:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
}