.box {
    width: 310px; height: 80px;
    position: relative;
    border: 1px solid #BBB;
    background: #FFF;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 7px 7px;
}

.box:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(179,233,235,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(179,233,235,1);
    border: 2px solid #BBB;
}

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #99a688;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #99a688;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #99a688;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #99a688;
}

.golden {
    background: #99a756;
    background: linear-gradient(#EFF702 0%, #C1D94C 100%);
}

.silver {
    background: #7e8970;
    background: linear-gradient(#E7E8DA 0%, #A8A891 100%);
}

.bronze {
    background: #5e7334;
    background: linear-gradient(#F2CB30 0%, #BD9A5E 100%);
}

.win-title {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;

}