{% overextends "admin/base_site.html" %}
{% load mezzanine_tags i18n %}

{% block extrahead %}
{{ block.super }}
<script>
        jQuery(function ($) {
            var adminTitleIcon = 'Мамочки';
            $('div#header div.admin-title').html(adminTitleIcon);

            var a = document.createElement('a');
            var li = document.createElement('li');
            li.appendChild(a);

            a.href = '{% url 'admin_competition' 1 %}';
            a.text = 'Фотоконкурсы';
            $('div#container div#side-panel div.dropdown-menu ul li ul.dropdown-menu-menu').append(li);

            a.href = '{% url 'admin_competition' 2 %}';
            a.text = 'Литературные конкурсы';
            $('div#container div#side-panel div.dropdown-menu ul li ul.dropdown-menu-menu').append(li);

            a.href = '{% url 'admin_competition' 3 %}';
            a.text = 'Видеоконкурсы';
            $('div#container div#side-panel div.dropdown-menu ul li ul.dropdown-menu-menu').append(li);

            a.href = '{% url 'admin_competition' 4 %}';
            a.text = 'Аудиоконкурсы';
            $('div#container div#side-panel div.dropdown-menu ul li ul.dropdown-menu-menu').append(li);


        });
        </script>
{% endblock %}