{% overextends "admin/base_site.html" %}
{% load mezzanine_tags i18n %}

{% block extrahead %}
{{ block.super }}
<script>
        jQuery(function ($) {
            var adminTitleIcon = 'Мамочки';
            $('div#header div.admin-title').html(adminTitleIcon);

            var a = document.createElement('a');
            var li = document.createElement('li');
            var ul = document.getElementsByClassName('dropdown-menu-menu');
            li.appendChild(a);

            a.href = '{% url 'admin_competition' 1 %}';
            a.text = 'Фотоконкурсы';
            ul[0].appendChild(li);

            a = document.createElement('a');
            li = document.createElement('li');
            li.appendChild(a);

            a.href = '{% url 'admin_competition' 2 %}';
            a.text = 'Литературные конкурсы';
            ul[0].appendChild(li);

            a = document.createElement('a');
            li = document.createElement('li');
            li.appendChild(a);

            a.href = '{% url 'admin_competition' 3 %}';
            a.text = 'Видеоконкурсы';
            ul[0].appendChild(li);

            a = document.createElement('a');
            li = document.createElement('li');
            li.appendChild(a);

            a.href = '{% url 'admin_competition' 4 %}';
            a.text = 'Аудиоконкурсы';
            ul[0].appendChild(li);

        });
        </script>
{% endblock %}