{% extends "base.html" %}

{% load bootstrap3 %}
{% block meta_title %}Профиль{% endblock %}
{% block css %}
    <link href="/static/css/competitions.css" rel="stylesheet">
{% endblock %}
{% block js %}

<script type="text/javascript">
$(document).ready(function () {
    var hash = window.location.hash;
    hash && $('ul.nav-tabs a[href="' + hash + '"]').tab('show');
});
</script>
{% endblock %}

{% block main %}

    <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li role="presentation" class="active">
          <a data-toggle="tab" href="#tab1" ole="tab">Профиль</a>
      </li>
      <li role="presentation" >
          <a href="#tab2" role="tab" data-toggle="tab">Мои конкурсы</a>
      </li>
      <li role="presentation" >
          <a href="#tab3" role="tab" data-toggle="tab">Мои заявки</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab1">
          <form method="POST" class="register-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        {% bootstrap_form user_form %}
                    </div>
                    <div class="col-lg-6 col-md-6">
                        {% bootstrap_form profile_form %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-success" %}
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="pull-right">
                                {% bootstrap_button "Сменить пароль" button_class="btn-primary" href="/change_password"%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab2">
          <table class="table table-hover">
            <thead>
            <tr>
                <th>Тип конкурса</th>
                <th>Конкурс</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
                {% for competition in competitions %}
                    <tr class="pointer" onclick="table_click('{% url "participate_manage" %}?competition_id={{ competition.id }}')">
                        <td>
                            {{ competition.type_str }}
                        </td>
                        <td>
                            <a onclick="document.location='/participate/?competition_id={{ competition.id }}';">
                                {{ competition.title }}
                            </a>
                        </td>
                        <td>
                            {% if competition.status == 1 %}
                                <a href='{% url "competition_edit" %}?competition_id={{ competition.id }}'>Отклонен</a>
                            {% elif competition.status == 0 %}
                                <a href='{% url "competition_edit" %}?competition_id={{ competition.id }}'>На
                                    рассмотрении</a>
                            {% else %}
                                Опубликован
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab3">
          <table class="table table-hover">
            <thead>
            <tr>
                <th>Конкурс</th>
                <th>Заявка</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
                {% for participate in participates %}
                    <tr class="pointer">
                        <td>
                            {{ participate.parent }}
                        </td>
                        <td>
                            <a href='{% url 'about_participate' participate.id %}'>
                            {{ participate.title }}
                            </a>
                        </td>
                        <td>
                            {% if participate.status == 1 %}
                                <a href='{% url "participate_edit" %}?participate_id={{ participate.id }}'>Отклонена</a>
                            {% elif participate.status == 0 %}
                                <a href='{% url "participate_edit" %}?participate_id={{ participate.id }}'>На
                                    рассмотрении</a>
                            {% else %}
                                Опубликована
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
  </div>
</div>
{% endblock %}