{% extends "base.html" %}

{% load bootstrap3 %}
{% block main %}

<div class="tabs">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1" title="Профиль">Профиль</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2" title="Мои конкурсы">Мои конкурсы</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3" title="Мои заявки">Мои заявки</label>
    <section id="content-tab1">
        <form method="POST" class="register-form">
        {% csrf_token %}

            {% bootstrap_form form %}
        <button class="btn btn-default">Сохранить</button>
        </form>
    </section>

    <section id="content-tab2">
        <table class="table table-hover">
        <th>Тип конкурса</th>
        <th>Конкурс</th>
        <th>Статус</th>

            {% for competition in competitions %}
            <tr onclick="table_click('{% url "participate_manage" %}?competition_id={{ competition.id }}')">
            <td>
            {{ competition.type_str }}
            </td>
            <td>
            {{ competition.title }}
            </td>
            <td>
                {% if competition.status == 1 %}
                <a href = '{% url "competition_edit" %}?competition_id={{ competition.id }}'>Отклонен</a>
                {% elif competition.status == 0 %}
                <a href = '{% url "competition_edit" %}?competition_id={{ competition.id }}'>На рассмотрении</a>
                {% else %}
                Опубликован
                {% endif %}
            </td>
            </tr>
        {% endfor %}
        </table>
    </section>

    <section id="content-tab3">
        <table class="table ">
        <th>Конкурс</th>
        <th>Заявка</th>
        <th>Статус</th>
        {% for participate in participates %}
            <tr>
            <td>
                {{ participate.parent }}
            </td>
            <td>
                {{ participate.title }}
            </td>
            <td>
                {% if participate.status == 1 %}
                <a href = '{% url "participate_edit" %}?participate_id={{ participate.id }}'>Отклонена</a>
                {% elif participate.status == 0 %}
                <a href = '{% url "participate_edit" %}?participate_id={{ participate.id }}'>На рассмотрении</a>
                {% else %}
                Опубликована
                {% endif %}
            </td>
            </tr>
        {% endfor %}
        </table>
    </section>
</div>
{% endblock %}