{% extends "base.html" %}

{% block main %}
    <div>
            <label ><h2 style="text-align: center">{{ participate.title }}</h2><p>{{ participate.comment }}</p></label>
        <div style="align-content: center; text-align: center">
            <a type="button" href="{{ STATIC_URL }}media/{{ participate.content }}">Скачать прикрепленный файл</a>
        </div>
            <div style="align-content: right; text-align: right">
            <label><p>Голосов: {{ participate.participate_votes.count }}</p></label>
                <br>
            <label><p>Дата публикации: {{ participate.publish_date|date:"d.m.Y"  }}</p></label>
            </div>
    </div>
{% endblock %}