{% extends 'base.html' %}
{% block meta_title %}Сброс пароля{% endblock %}
{% block main %}
    <div class="row">
        <div class="center-block" style="max-width: 400px; width: 100%;">
            <p>
                Для сброса пароля мы отправили Вам письмо с инструкцией
                на зарегистрированную Вами почту.
            </p>
            <p>
                Если Вы не получили письмо, убедитесь, что верно ввели почту.
                Кроме того письмо могло попасть в папку Спам.
            </p>
        </div>
    </div>
{% endblock %}