{% extends "base.html" %}
{% load bootstrap3 %}

{% block meta_title %}Регистрация{% endblock %}
{% block js %}
    <script>
    function handleClick(cb) {
        var btn = document.getElementById("button_save");
        if (cb.checked){
            btn.disabled = false;
        }
        else{
            btn.disabled = true;
        }
    }
</script>
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="center-block" style="max-width: 500px; width: 100%;">
                <form method="POST" class="register-form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="checkbox" id="check" onclick="handleClick(this);">
                    <label for="check">Я согласен(а) на обработку моих персональных данных</label>

                    <button id="button_save" type="submit" class="btn btn-success" disabled>Создать</button>
                    <p class="message">Уже зарегистрирован?
                        <a href="/login/">Войти</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}